<ion-header>
    <ion-toolbar color="tertiary">
      <ion-title text-center>Infection Process</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
      <ion-col text-center>
        <p>ADD CONTENT HERE</p>
        </ion-col>
      <ion-button ion-button (click)="getHomePage()" expand="block" fill="outline" class="buttons"><ion-icon name="home"></ion-icon></ion-button>
  </ion-content>
  
  <ion-footer>
      <ion-toolbar color="tertiary">
        <ion-title><ion-icon name="logo-android"></ion-icon>
          <ion-icon name="logo-apple"></ion-icon>
          <ion-icon name="logo-angular"></ion-icon>
          <ion-icon name="logo-github"></ion-icon>
          <ion-icon name="logo-nodejs"></ion-icon>
          <ion-icon name="logo-ionic"></ion-icon>
        </ion-title>
      </ion-toolbar>
    </ion-footer>
