<ion-header>
    <ion-toolbar color="tertiary">
      <ion-title text-center>About Us</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
      <ion-col text-center>
          <h4>Background</h4>
            <p>People around the world continue to suffer from a myriad of diseases with millions succumbing every year. According to the World Health Organisation (WHO), the number of deaths caused by outbreaks of preventable and treatable diseases could be drastically reduced if information and assistance were readily available. However, in Sub-Saharan Africa this is often not the case. 
 
                Information technology has the capacity to help health professionals and advisers reach people that would otherwise not receive any information or education on the diseases affecting their geographical regions. In this project, your group will be required to design and develop a digital tool that can be used to educate users about a specific widespread and risky disease.</p>
                <ion-button ion-button (click)="getHomePage()" expand="block" fill="outline" class="buttons"><ion-icon name="home"></ion-icon></ion-button>
                <ul>Designed By: </ul>
                <ul>Joshua Eales u15336680</ul>
                <ul>Ian Steyn u16007192</ul>
                <ul>Doreen Maloka u12165736</ul>
                <ul>Janco Steenkamp u15033377</ul>
        </ion-col>
  </ion-content>
  
  <ion-footer>
      <ion-toolbar color="tertiary">
        <ion-title><ion-icon name="logo-android"></ion-icon>
          <ion-icon name="logo-apple"></ion-icon>
          <ion-icon name="logo-angular"></ion-icon>
          <ion-icon name="logo-github"></ion-icon>
          <ion-icon name="logo-nodejs"></ion-icon>
          <ion-icon name="logo-ionic"></ion-icon>
        </ion-title>
      </ion-toolbar>
    </ion-footer>
